body {
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1f2937;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.header a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    background-color: #1f2937;
    padding: 70px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.hero-content .main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-content .secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-content button {
    width: 150px;
    background-color: #3882f6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

.info {
    padding: 60px 150px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.info-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.info-boxes {
    display: flex;
    gap: 50px;
}

.info-box {
    width: 200px;
    text-align: center;
}

.box-img {
    width: 200px;
}

.quote {
    background-color: #e5e7eb;
    padding: 100px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote p {
    font-size: 36px;
    color: #1f2937;
    font-weight: lighter;
    font-style: italic;
}

.quote .signature {
    font-size: 28px;
    font-weight: bold;
    align-self: flex-end;
}

.call-to-action-background {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.call-to-action {
    background-color: #3882f6;
    color: white;
    padding: 30px 100px;
    margin: 80px 100px;
    border-radius: 10px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

.call-to-action button {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 20px;
}

.footer {
    background-color: #1f2937;
    text-align: center;
    color: white;
    padding: 20px;
}